body{
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 400px;
    border: 1px solid rgb(11, 11, 11);
    align-items: center;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    border-radius: 25px;

}

h1{
    color: white;
    font-family: 'Courier New', Courier, sans-serif';
}

input{
    width: 250px;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.form .btn{
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.7s ease;
}

.form .btn:hover{
    background-color: transparent;
    border: 3px solid black ;
}